<div class="well" id="search-box">
    <p>Wyszukaj notatkę:</p>
        <form method="get" asp-controller="Activity" asp-action="SearchResults">
            <div class="form-group">
                <div class="input-group">
                    <input type="search" class="form-control" name="phrase"
                           value="" />
                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <i class="glyphicon glyphicon-search"> </i>
                        </button>
                    </span>
                </div>
            </div>
        </form>
</div>